<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title">添加全能代理节点</h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label font-bold">分享链接</label>
                        <div class="col-sm-12">
                            <input class="form-control" name="link" placeholder="ss:// vmess:// vless:// trojan:// tuic:// hysteria2:// naive+https:// socks5://">
                            <span class="help-block m-b-none">支持 SS / SSR / VMess / VLESS / Trojan / TUIC / Hysteria2 / NaiveProxy / SOCKS5</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold">名称（可空，默认用链接里的备注）</label>
                        <div class="col-sm-12"><input class="form-control" name="name"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-bold">Tags</label>
                        <div class="col-sm-12"><input class="form-control" name="tags" placeholder="jp, hk"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-lg-12 col-sm-offset-2">
                            <button class="btn btn-secondary" onclick="goback()" type="button"><i class="fa fa-fw fa-lg fa-window-close"></i> 取消</button>
                            <button class="btn btn-success" onclick="submitform('add', '{{.web_base_url}}/omniproxy/add', $('form').serializeArray())" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
