<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title" langtag="word-importproxy"></h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group" id="list">
                        <label class="control-label font-bold" langtag="word-importformat"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="list" rows="10" placeholder="http://user:pass@1.2.3.4:8080&#10;socks5://user:pass@2.3.4.5:1080&#10;http://3.4.5.6:8080&#10;socks5://4.5.6.7:1080"></textarea>
                        </div>
                    </div>
                    <div class="form-group" id="tags">
                        <label class="control-label font-bold" langtag="word-tags"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-suchastags" name="tags" rows="2"></textarea>
                            <span class="help-block m-b-none" langtag="info-desctags"></span>
                        </div>
                    </div>
                    <div class="form-group" id="auto_check">
                        <label class="control-label font-bold" langtag="word-autocheckimport"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="auto_check">
                                <option langtag="word-yes" value="1" selected></option>
                                <option langtag="word-no" value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group">
                        <div class="col-lg-12 col-sm-offset-2">
                            <button class="btn btn-secondary" onclick="goback()" type="button">
                                <i class="fa fa-fw fa-lg fa-window-close"></i> <span langtag="word-cancel"></span>
                            </button>
                            <button class="btn btn-success" onclick="submitform('add', '{{.web_base_url}}/proxy_node/import', $('form').serializeArray())" type="button">
                                <i class="fa fa-fw fa-lg fa-check-circle"></i> <span langtag="word-import"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
